    <div ng-controller='layoutController' layout="column" class="full-height">


      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button ng-click="close()" class="md-icon-button" hide-gt-md>
            <i class="material-icons" >menu</i>
          </md-button>
          <h2 layout-padding><a ui-sref="home" style='text-decoration: none'>REZO</a></h2>
          <span flex></span>
          <md-button ui-sref="login" class="">Login</md-button>
          <md-button ng-click='logout()' class="">Logout</md-button>
        </div> 
      </md-toolbar>

      
      <section layout="row" flex>
        
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left">
          
          <md-toolbar layout-align="center center" hide-gt-sm>
            <div class="md-toolbar-tools">          
              <h4>  
                <span>Sidebar</span>
              </h4>  
              <span flex></span>
              <md-button ng-click="close()" class="md-icon-button">
                <i class="material-icons">reply</i>
              </md-button>
            </div>
          </md-toolbar>
        
          <md-list>
            <md-list-item class="md-clickable" ng-class="{selected: page.current === 1}">
             <p md-ink-ripple ng-click="setPage(1)">
              <i layout-margin class="material-icons">store</i>
              <span layout-margin>Space</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" ng-class="{selected: page.current === 2}">
             <p md-ink-ripple ng-click="setPage(2)">
              <i layout-margin class="material-icons">today</i>
              <span layout-margin>Calendar</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" ng-class="{selected: page.current === 3}">
             <p md-ink-ripple ng-click="setPage(3)">
              <i layout-margin class="material-icons">local_dining</i>
              <span layout-margin>Food & Drink</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" ng-class="{selected: page.current === 4}">
             <p md-ink-ripple ng-click="setPage(4)">
              <i layout-margin class="material-icons">person</i>
              <span layout-margin>Profile</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" ng-class="{selected: page.current === 5}">
             <p md-ink-ripple ng-click="setPage(5)">
              <i layout-margin class="material-icons">playlist_add_check</i>
              <span layout-margin>Details</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" ng-class="{success: page.current === 6}">
             <p md-ink-ripple ng-click="setPage(6)">
              <i layout-margin class="material-icons">done_all</i>
              <span layout-margin>Confirmation</span>
             </p>
            </md-list-item>
            <md-divider></md-divider>
            
            
          </md-list>
        </md-sidenav>
        
        <md-content flex>
          <div ui-view></div>
        </md-content>
      </section>
    </div>
