    <div ng-controller='layoutController' layout="column" class="full-height">


      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button ng-click="close()" class="md-icon-button" hide-gt-md>
            <i class="material-icons" >menu</i>
          </md-button>
          <h2 layout-padding><a href="#/" style='text-decoration: none'>MEAP Boiler</a></h2>
          <span flex></span>
          <md-button class="md-raised md-accent">Login</md-button>
          <md-button class="md-raised md-accent md-hue-1">Logout</md-button>
        </div> 
      </md-toolbar>

      
      <section layout="row" flex>
        
        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-md')" md-component-id="left">
          
          <md-toolbar layout-align="center center" hide-gt-sm>
            <div class="md-toolbar-tools">          
              <h4>  
                <span>Sidebar</span>
              </h4>  
              <span flex></span>
              <md-button ng-click="close()" class="md-icon-button">
                <i class="material-icons">reply</i>
              </md-button>
            </div>
          </md-toolbar>
        
          <md-list>
            <md-list-item class="md-clickable" >
             <p md-ink-ripple ui-sref="dashboard">Dashboard</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" >
             <p md-ink-ripple ui-sref="profile">Profile</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item class="md-clickable" >
             <p md-ink-ripple ui-sref="calendar">Calendar</p>
            </md-list-item>
            
          </md-list>
        </md-sidenav>
        
        <md-content flex>
          <div ui-view></div>
        </md-content>
      </section>
    </div>
