 <div layout="column" layout-align="center center">
    <h2>Profile for {{vm.user.current.username}}</h2>
</div>
  <md-content layout-padding class="autoScroll" flex="45">

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Name</label>
      <md-icon md-svg-src="" class="name"></md-icon>
      <input ng-model="vm.user.current.username" type="text" placeholder="{{vm.user.current.username}}">
    </md-input-container>

    <md-input-container md-no-float class="md-icon-float md-block">
       <!-- Use floating label instead of placeholder -->
      <label>Phone Number</label>
      <md-icon md-svg-src=""></md-icon>
      <input ng-model="vm.user.current.phoneNumber" type="text" placeholder="{{vm.user.current.phoneNumber}}">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <!-- Use floating placeholder instead of label -->
    <label>Email</label>
      <md-icon md-svg-src="" class="email"></md-icon>
      <input ng-model="vm.user.current.email" type="email" ng-required="true">
    </md-input-container>

    <md-input-container md-no-float class="md-icon-float md-block">
     <!-- Use floating label instead of placeholder -->
    <label>Company Name</label>
      <md-icon md-svg-src="" ></md-icon>
      <input ng-model="vm.user.current.companyName" type="text" placeholder="{{vm.user.current.company}}">
    </md-input-container>
    <div flex layout="row" layout-align="center center" >
      <md-button class="md-raised" ng-click="vm.updateProfile()" >Update</md-button>
    </div>
  </md-content>
