<space-selection ng-if="page.current === 1" id="space"></space-selection>
<md-content layout="column" flex layout-padding>
  <div ng-if="page.current === 1" layout="row" layout-align="center center">
  </div>
  
  <div layout='column' ng-if="space.bookedDates.length > 0 && page.current === 2" flex class="full-height">
    <div layout="row" layout-align="center center" layout-margin>
      <span class="md-headline">Schedule</span>
    </div>
    <br/>
    <div layout='row'>
      <div flex="45" style="height:400px;">
        <calendar-md id="calendar"
        flex layout layout-fill
        calendar-direction="direction"
        on-prev-month="prevMonth"
        on-next-month="nextMonth"
        on-day-click="dayClick"
        title-format="'MMMM y'"
        ng-model='selectedDate'
        day-format="dayFormat"
        day-label-format="'EEE'"
        day-label-tooltip-format="'EEEE'"
        day-tooltip-format="'fullDate'"
        week-starts-on="weekStartsOn"
        tooltips="true"
        day-content="setDayContent"
        disable-future-selection="disableFutureDates">
        </calendar-md>
      </div>
      <div flex>
        <time-guest-form id="timeGuest"></time-guest-form>
      </div>
    </div>
  </div>
</md-content> 

<menu-selection ng-if="page.current === 3" id="menu"></menu-selection>
<user-profile ng-if="page.current === 4" id="profile"></user-profile>
<event-details ng-if="page.current=== 5" id="final"></event-details> 
<rezo-confirmation ng-if="page.current=== 6" id="confirmation"></rezo-confirmation> 

<!-- <div layout="row" layout-align="end end">
  <md-button class="md-raised" lagout-margin ng-click="prevPage()">Prev</md-button>
  <md-button class="md-raised" lagout-margin ng-click="nextPage()">Next</md-button>
</div> -->