<md-content class="md-padding" layout="column" layout-align="">
      
    <!-- <md-content layout="column" layout-align="start start" flex="30"> -->
      

      <span class="md-headline">Provision & Libation</span> 
        <div layout="row" flex>
          <div class="parent" layout="column" ng-repeat="menu in vm.menus" flex="30">
            <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
              <div flex layout="column">
                <md-card>
                  <img ng-src="{{menu.imageUrl}}" class="md-card-image" alt="{{menu.name}}">
                  <md-card-title>
                    <md-card-title-text class="md-padding">
                    <span layout-align="center" class="md-headline">{{menu.name}}</span>
                  </md-card-title-text>
                </md-card-title>
                <md-card-content>
                  <div ng-repeat="item in menu.foodItems">
                    <p>{{item}}</p>
                  </div>
                  <div>
                    <p>${{menu.costPerPerson}} per person</p>
                  </div>
                <md-input-container flex class="md-icon-float md-block">
                  <label>Quantity</label>
                  <input ng-model="qty" ng-init="qty=null" type="number">
                </md-input-container>
                <md-button flex class="md-raised" ng-click="vm.selectMenu(menu, qty)">Add Menu</md-button>
              </md-card-content>
            </md-card>
          </div>
        </div>

          <!-- <span class="md-headline">Bar Tab</span>  -->
        <div layout="column" flex layout-align="center center">
              <i class="material-icons md-48" style="font-size: 60px">local_drink</i>
              <br/>
              <br/>
          <md-content layout="column" flex="50">
            <md-input-container flex class="md-icon-float md-block">
              <label>Bar Tab $</label>
              <input ng-model="vm.barTab" type="number">
            </md-input-container>
            <md-button flex class="md-raised" ng-click="vm.setBarTab()">Set Bar Tab</md-button>
          </md-content>
        </div>
      </div>

</md-content>