<md-content layout="column" flex layout-padding>
  <div layout="row" layout-align="center center">
    <h1>CALENDAR</h1>
  </div>

  <md-button ng-click="setDate()">happy day</md-button>
  <md-button ng-click="toggleDisabled()">disable day</md-button>
  
  <div layout='column' style="height: 600px;">
    <calendar-md id="calendar"
    flex layout layout-fill
    calendar-direction="direction"
    on-prev-month="prevMonth"
    on-next-month="nextMonth"
    on-day-click="dayClick"
    title-format="'MMMM y'"
    ng-model='selectedDate'
    day-format="dayFormat"
    day-label-format="'EEE'"
    day-label-tooltip-format="'EEEE'"
    day-tooltip-format="'fullDate'"
    week-starts-on="weekStartsOn"
    tooltips="true"
    day-content="setDayContent"
    disable-future-selection="disableFutureDates"></calendar-md>
  </div>

</md-content> 