<div layout="column" flex layout-padding>
  <div layout-align="center center" layout-padding>
    <span class="md-headline">Select a Space</span class="md-headline">
  </div>
</div> 

<md-content class="md-padding" layout="column" >
  <div layout="row" layout-align="center center">
    <div>
      <md-card flex>
        <img ng-click="vm.selectSpace()" md-clickable md-ink-ripple layout-padding src="http://static1.squarespace.com/static/54e0f431e4b043f1c99a55d0/t/55b6be69e4b0e4916f65839e/1438039658902/?format=300w" class="md-card-image" alt="Washed Out">
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <i class="material-icons">menu</i>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div>
  </div>
</md-content>
