<div layout="column" flex layout-padding>
  <div layout-align="center center" layout-padding>
    <span class="md-headline">Select a Space</span class="md-headline">
  </div>
</div> 

<md-content class="md-padding" layout="row" flex>
  <div flex="45" ng-repeat="space in vm.spaces.spaces" layout="row" layout-align="center center">
    <div>
      <md-card flex>
        <div class="logo-container">
          <img flex ng-click="vm.selectSpace(space.id)" md-clickable md-ink-ripple layout-padding src="{{space.logoUrl}}" class="md-card-image logo">
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-href="{{space.websiteUrl}}" class="md-icon-button" aria-label="Favorite">
            <i class="material-icons">menu</i>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div>
  </div>
</md-content>
