<md-content class="md-padding" layout="column" >
<h1>Success! Event Booked.</h1>
<p>{{vm.error}}</p>
</md-content>

<md-content class="md-padding" layout="column" flex>
  <div layout="row" flex>
    <md-card flex="65" layout-align="start">
      <div layout="row">
        <div layout="column" flex="65">
          <img flex layout="row" layout-padding ng-src="{{vm.space.logoUrl}}" class="md-card-image" alt="Washed Out">
        </div>
        <div layout="column" flex>
          <md-card-title layout-align="center center" layout-padding>
            <md-card-title-text>
              <span class="md-headline">Nice Job!</span>
            </md-card-title-text>
          </md-card-title>
          <div layout-margin>
            <div layout="row" layout-align="start center">
              <p class="md-title">{{vm.details}}</p>
            </div>
        </div>
      </div>
      </md-card>
    </div>
</md-content>