<md-content class="md-padding" layout="column" flex>
  <div layout="row" flex>
    <md-card flex="60" layout-align="start">
      <div layout="row" layout-align="center center">
        <div  class="md-card-image" layout="column" layout-align="start center" flex>
          <img layout-align="center center" class="md-card-image" flex="75" layout="row" layout-padding ng-src="{{vm.space.logoUrl}}" class="md-card-image" alt="Washed Out">
        </div>
        <div layout="column" flex>
          <md-card-title layout-align="center center" layout-padding>
            <md-card-title-text>
              <span class="md-headline">Event Details</span>
            </md-card-title-text>
          </md-card-title>
          <div layout-margin>
            <div layout="row" layout-align="start center">
              <i class="material-icons md-18">date_range</i>
              <span class='md-body-2' layout-padding>{{vm.event.date | date: 'EEEE, MMMM d, y'}}</span>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-align="start center">
              <i class="material-icons md-18">access_time</i>
              <span class='md-body-2' layout-padding>{{vm.event.time}}</span>
            </div>
            <md-divider></md-divider>            
            <div layout="row" layout-align="start center">
              <i class="material-icons md-18">people</i>
              <span class='md-body-2' layout-padding>{{vm.event.totalGuests}}</span>
            </div>
            <md-divider></md-divider>            
            <div layout="row" layout-align="start center">
              <i class="material-icons md-18">local_drink</i>
              <span class='md-body-2' layout-padding>${{vm.event.barTab}} bar tab</span>
            </div>            
            <md-divider></md-divider>            
            <div layout="row" layout-align="start center">
              <i class="material-icons md-18">attach_money</i>
              <span class='md-body-2' layout-padding>${{vm.event.cost}} total</span>
            </div>
          </div>
          <md-card-actions layout="row" layout-align="end center">
          <md-button flex class="md-raised md-primary" ng-click="vm.confirmDetails()">Book Event</md-button>
          </md-card-actions>
        </div>
      </div>
      </md-card>
    </div>
    
    <div layout="row" flex="65">
      <div class="parent" layout="column" ng-repeat="menu in vm.displayMenus" flex="30">
        <md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
          <div flex layout="column">
            <md-card>
              <img ng-src="{{menu.imageUrl}}" class="md-card-image" alt="{{menu.name}}">
              <md-card-title>
                <md-card-title-text class="md-padding">
                <span layout-align="center" class="md-headline">{{menu.name}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <div>
                <p>Quantity: {{menu.qty}}</p>
              </div>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>
    </div>
</md-content>
